<img class="source-image" src="assets/bg.jpg" alt="" />
<div class="mid-icon round">
	<h2 class="first">The</h2> 
	<h2 class="bigger">Brown</h2>
	<h2 class="last">Book</h2>
	<h4>The Class of 2006<br/> Chinmaya Vidyalaya<br/> Jamshedpur</h4>
	<!-- <div class="enter round"><span style="padding-top:20px; display:block;">ENTER</span></div> -->
</div>
<div class="info-box round">
	<h2 class="first">Bringing<br/> Reminiscences<br/> On<br/> With<br/> Nostalgia</h2>
</div>
<div class="home round transparent-box">
	<div class='img-div' style="margin-top:18px;" data-up="168" >
		<img class="svg" src="assets/home.png" height="30" width="35" alt="" /><br/>
		<div class='text-div'>Home</div>
	</div>
</div>
<div class="galleria round transparent-box">
	<div class='img-div' style="margin-top:25px;" data-up="177" >
		<img class="svg" src="assets/gallery.png" height="45" width="60" alt="" /><br/>
		<div class='text-div'>Pictures</div>
	</div>
</div>
<div class="people round transparent-box">
	<div class='img-div' style="margin-top:30px;" data-up="185" >
		<img class="svg" src="assets/people.svg" height="60" width="60" alt="" /><br/>
		<div class='text-div'>People</div>
	</div>
</div>
<div class="contact round transparent-box">
	<div class='img-div' style="margin-top:45px;" data-up="180" >
		<img class="svg" src="assets/contact.png" height="50" width="80" alt="" /><br/>
		<div class='text-div'>Write To Us</div>
	</div>
</div>
<div class="footer"></div>
